* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo, sans-serif;
    outline: none;
}

.header {
    /* position: fixed; */
    border-bottom: 1px solid #eaecf0;
    width: 100%;
}

.header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 19px 0;
}

.logo-shop {
    padding: 10px;
    border-radius: 40px;
    display: flex;
    font-size: 26px;
    align-items: center;
    border: 2px #77dada solid;
    margin-right: 10px;
    cursor: pointer;
}

.logo-shop img {
    width: 50px;
    border-radius: 70%;
    object-fit: cover;
    opacity: 0.8;
}

.logo-shop p {
    color: #101828;
    margin-left: 10px;
    font-weight: 500;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header-right {} */

.tab-in-header a {
    color: #101828;
    margin: 0 16px;
    text-decoration: none;
    font-weight: 500;
}

.tab-in-header a:hover {
    color: #77dada;
    transition: transform 0.3s ease;
}

.header-right {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right i {
    margin-right: 25px;
    font-size: 30px;
}

.number-icon-cart {
    position: absolute;
    padding: 5px;
    background-color: gold;
    top: -10px;
    right: 15px;
    border-radius: 100%;
}

.header-right .contact-header {
    padding: 15px;
    background: #77dada;
    border-radius: 35px;
}

.banner {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 15px;
}

.img-banner {
    position: relative;
}

.img-banner img {
    height: 550px;
    width: 100%;
    border-radius: 25px;
}

.sreach {
    padding: 25px;
    position: absolute;
    background-color: #fff;
    border-radius: 25px;
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
    width: 250px;
}

.sreach input {
    border: none;
}